body {
	background-color: aqua;
}

h1 {
	color: black;
	text-align: center;
}

img {
	float:left;
   	border-radius: 50%;
}

#picture {
	position: absolute;
	left: 75px;
	top: 100px;
}

#information {
	float: right;
	width: 60%;
	color: black;
	font-family: verdana;
}