<!DOCTYPE html>

<html lang = "en-US">
	<head>
		<meta charset = "utf-8" />
		<meta name = "author" content = "David Ovsiew" />
		<meta name = "description" content = "This website is for others to learn about me and for me to practice my webdev skills." />
		<link rel="stylesheet" type="text/css" href="../public/style.css">
		<title>Personal Website</title>
	</head>

	<h1>My Hobbies</h1>

	<div id="container">
		<div id="information">
			<p>I like cooking,</p>
			<p>listening to jazz,</p>
			<p>and of course ... </p>
		</div>
	</div>

	<nav>
		<a href="home.html">Home</a>
		<a href="experience.html">My Experience</a>
		<a><strong>My Hobbies</strong></a>
		<a href="maple.html">Maple</a>
	</nav>

</html>