<!DOCTYPE html>

<html lang = "en-US">
	<head>
		<meta charset = "utf-8" />
		<meta name = "author" content = "David Ovsiew" />
		<meta name = "description" content = "This website is for others to learn about me and for me to practice my webdev skills." />
		<link rel="stylesheet" type="text/css" href="../public/style.css">
		<title>Personal Website</title>
	</head>

	<div id="title">
		<h1>Hi, I'm David Ovsiew</h1>
	</div>

	<nav id="home-nav">
		<a><strong>Home</strong></a>
		<a href="experience.html">My Experience</a>
		<a href="hobbies.html">My Hobbies</a>
		<a href="maple.html">Maple</a>
	</nav>

</html>