<!DOCTYPE html>

<html lang = "en-US">
	<head>
		<meta charset = "utf-8" />
		<meta name = "author" content = "David Ovsiew" />
		<meta name = "description" content = "This website is for others to learn about me and for me to practice my webdev skills." />
		<link rel="stylesheet" type="text/css" href="../public/style.css">
		<title>Personal Website</title>
	</head>

	<h1>Maple!</h1>

	<nav>
		<a href="home.html">Home</a>
		<a href="experience.html">My Experience</a>
		<a href="hobbies.html">My Hobbies</a>
		<a><strong>Maple</strong></a>
	</nav>

</html>